body{
    background-color: white;
    margin: 0% auto;
    padding: 0%;
    max-width:1550px;
    border:1px solid #CCC;
    overflow-x: hidden;
    
}
/* Menu trên */
.menu{
    width:100%;
    /* margin-top: -26px; */
    /* background-image: url(images/banner/vecteezy_orange); */
    height: 50px;
    background-size: cover;
    display: flex;
    z-index: 1;
    /* margin-top:0px; */
    margin-bottom:4px;
}
.menu a{
    /* margin-top:0px; */
}

.menu nav ul{
    /* margin: 0px auto; */
    width: 1550px;
    height: 0px;
    background-color: orange;
    padding:0px;
    /* display: none; */
  }
  nav ul li{
    list-style-type: none;
    float:left;
  }
  nav ul li a{
      font-family:20px/22px UTMCafetaRegular;
      font-size:14px;
      text-decoration:none;
      display:block;
      height:40px; 
      line-height:40px; 
      color:#FFF;
      margin-left:3px;
      margin-right:90px;
      padding:0px 15px 0px 15px;
  }
  /* icon */
.fa-solid {
    margin-right:10px;
}
.fa-brands{
    margin-right:10px;
}
/* kết thúc menu trên */
.container-fluid{
    height:auto;
    text-align:center;
}
.container-fluid .thong-tin-sp .name-sp a{
    list-style:none;
    height:70px;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    margin-right:300px;
}
.container-fluid .row .col .thong-tin-sp ul{
    display:flex;
    margin-left:900px;
    list-style: none;
}

.container-fluid .sroll .timsp {
    margin-left: 400px;
}
.container-fluid .sroll .timsp #search input{
    width:400px;
    height:30px;
    margin-top:10px;
}
.container-fluid .sroll .timsp #search button{
    height:30px;
    width:80px;
    line-height:10px;
}
.container-fluid .thong-tin-sp .name-sp a{
    margin-left:-1000px;
}
.container-fluid .detail-sp .ttct{
    width: 90%;
    margin-left: 30px;
    text-align: left;
}
.container-fluid .detail-sp .ttct .name a{ 
    font-weight:600;
    font-size:30px;
}
.container-fluid .detail-sp .ttct .gia{
    font-size: 50px;
}
.container-fluid .detail-sp .hinhsp .hinhnho img{
    width:60px;
    border: 1px solid #CCC;
}
.container-fluid .detail-sp .hinhsp .hinhlon img{
    width:450px;
    padding:50px;

}
.container-fluid .detail-sp .hinhsp .hinhnho img:hover{
    transform: scale(1.2);
}
.container-fluid .detail-sp .hinhsp .hinhlon img:hover{
    transform: scale(1.2);
}
.container-fluid .row .col .detail-sp ul{
    display: flex;
    list-style: none;
}
.container-fluid .detail-sp .ttct .button .pay{
    background-color:orange;
    border: 1px solid orange;
    color:white;
    width:400px;
    height:80px;
    transition-duration: 0.3s;
}
.container-fluid .detail-sp .ttct .button .pay:hover{
    transform: scale(1.2);
}
.container-fluid .detail-sp .ttct .button .card-d{
    background-color:rgb(246, 113, 5);
    border: 1px solid orange;
    color:white;
    width:250px;
    height:80px;
    transition-duration: 0.3s;
}
.container-fluid .detail-sp .ttct .button .card-d:hover{
    transform: scale(1.2);
}
.container-fluid .detail-sp .ttct .button{
    overflow: hidden;
}
.container-fluid .mtsp{
 
}
.container-fluid .mtsp .tskt{
}
.fg{
    margin-top: 50px;
    width: 100%;
    height: 20px;
    background-color: #D9D9D9;
}
/* footer */
footer {
    width: 100%;
    height:450px;
    background-color:#F0F0F0;
}
footer .container{
    width: 100%;
    height: 340px;
    margin-bottom: -140px;
}
footer .container .left{
    float: left;
    width: 0%;
    margin-top: -100px;
    background-color:#CCC;
    
}
footer .container .right{
    float:right;
    width: 60%;
    
}
footer .container ul{
    display: flex;
    list-style: none;
}
footer .container ul li img {
    width:200px;
    height:100px;
}
footer .container .logo{
    width:550px;
    height:250px;
    margin-left: 10px;
    margin-top: 40px;
}
footer .container .fpoly1{
    width:350px;
    margin-left: -580px;
    margin-top:270px;
}
footer .container .fpoly1 a{
    font-size:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #fe6a00;
}
footer .fg2{
    background-color:#FE9800;
    width: 100%;
    height:20px;
    margin-top: 230px;
}
footer .container .by {
    width:520px;
    margin-top: 65px;
    margin-left: -60px;
    font-size:20px;
}
footer .container .right .guimail{
    background-color:#F9C56A;
    width:220px;
    height:280px;
    margin-top: 100px;
    border-radius:20px;
    box-shadow: 10px -10px  #f1a350;
}
footer .container .right{
    margin-top:20px;
}
/* CONTACT */
footer .container .right .contact{
    background-color:#F9C56A;
    width:200px;
    height:280px;
    border-radius:20px;
    margin-top: 100px;
    margin-right: 25px;
    box-shadow: 10px -10px  #f1a350;
}
footer .container .right .contact .ab   {
    text-align: center;
    font-weight: 900;
}

footer .container .right .contact ul li{
    margin-left: -15px;
}
/* HẾT CONTACT */
/* footer trang */
footer .container .right .pages ul{
    flex-direction: column;
}
footer .container .right .pages ul li a {
    color:black;
    text-decoration: none;
}
footer .container .right .pages .abc   {
    text-align: center;
    font-weight: 900;
}
footer .container .right .pages{
    background-color:#F9C56A;
    width:200px;
    height:280px;
    margin-top: 100px;
    border-radius:20px;
    margin-right: 25px;
    box-shadow: 10px -10px  #f1a350;
}
/* hết footer trang */

/* GỬI MAIL */
footer .container .right .guimail .abcd   {
    text-align: center;
    font-weight: 900;
}
footer .container .right .guimail button{
    width:50px;
    height:29px;
    line-height: 5px;
    margin-right: 5px;
    margin-left:10px;
    border: 1px solid #CCC;
}
footer .container .right .guimail input{
    width:140px;
    height:30px;
    margin-right: -15px;
    border-radius: 10px;
    border: 1px solid #FFF;
}
/* HẾT GỬI MAIL */

footer .container .right .khung{
    width:750px;
    height:50px;
    margin-top: -50px;
    border-radius: 50px;
    margin-right: -25px;
    background-color: black;
}
footer .container .left .tt{
    margin-left: -110px;
}
footer .container .left .tt img{
    margin-right:20px;
}
footer .container .right .guimail button {
    width:50px;
    border-radius: 9px;
    font-size: 11px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
 }
.cheap{
    width:100%;
    background-color:#FFB359;
    height:100px;
    margin-top:100px;
}
.cheap ul{
    list-style: none;
    display:flex;
}
.cheap ul li {
    font-weight:700;
    color:white;
    font-size:15px;
    margin-left: 100px;
    line-height:100px;
}
.cheap ul li i{
    font-size:40px;
}
/* kết thúc footer */


/* responsive navbar */
.nav__bars-btn{
    width:28px;
    height:28px;
    margin-top: -50px;
    margin-bottom: 22px;
    margin-left: 10px;
    color:#FFF;
    display:none;
}
.nav__overlay  {
    position: fixed;
    top:0;
    right:0; 
    bottom:0;
    left:0;
    background-color: rgb(0,0,0,0.3);
    display:none;
    animation: fadeIn linear 0.4s;
}
.nav__mobile{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width: 245px;
    height:500px;
    z-index: 3;
    max-width:100%;
    background-color: rgb(239, 141, 43);
    transform: translateX(-100%);
    opacity: 100;
/* độ mờ và animation */
    transition:transform linear 0.4s, opacity linear 0.4s;
}
.nav__mobile a{
    margin-left: -20px;
}
.nav__mobile a:hover{
    background-color:rgb(198, 190, 190);
}
.nav__mobile .nav__mobile-list .nav__mobile-link {
    color:white;
}
.nav__mobile .nav__mobile-list .nav__mobile-link a:hover {
    background-color:#F9C56A;
}
.nav__mobile-list{
    margin-top: 24px;
  
}
.nav__mobile-link{
    text-decoration:none;
    color:#333;
    display:block;
    padding:8px 0;
    font-size:1.4rem;
}
.nav__mobile-close{
    width:35px;
    background-color: #CCC;
    height:31px;
    color:#666;
    position:absolute;
    top:10px;
    right: 20px;
    border-radius: 25px;
}
.nav__mobile-close  svg{
    margin-top:-2px;
}

.nav__input:checked ~ .nav__overlay{
    display:block;
}
.nav__input{
    display:none;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0%);
    opacity: 1;
}

/* 1023px */
@media only screen and (max-width:1320px){
    .nav__bars-btn{
        display:block;
    }
    .menu nav{
        display:none;
    }  
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.container-fluid .row .col .thongtinsp ul{
    list-style: none;
}
.container-fluid .row .col .thongtinsp{
    font-size: 35px;
    line-height: 95px;
    width: 860px;
    height:400px;
}
.container-fluid .row .col .msp{
    color:black;
    text-decoration:none;
    font-weight:700;
}
.container-fluid .row .col .thongtinsp .ten{
    color:#f9a20b;
}
.container-fluid .row .col .thongtinsp .lien-he{
    color:#f9a20b;
    text-decoration: none;
}
.container-fluid .row .col .ctsp{
    height:400px;
    line-height: 350px;
    margin-left: 100px;
}
.container-fluid .row .col .ctsp a{
    color:orange;
    font-size: 30px;
    line-height: 725px;
    font-weight: 600;
}
.container-fluid .row .col .ctsp2{
    border: 1px solid #CCC;
    width:950px;
    padding:15px 15px 15px 15px;
}
.container-fluid .row .col .ctsp2 a{
    font-size: 25px;
    line-height: 75px;
    font-weight: 400;
}
.container-fluid .row .col .hatk{
    height:100px;
    margin-top:100px;
}
.container-fluid .row .col .hatk a{
    color:orange;
    font-size: 30px;
    font-weight: 400;
}
.container-fluid .ttctsp{
    margin-top:50px;
}
.container-fluid .hinhanhthamkhao2 .col .hatk1 img{
    width:400px;
    height:400px;
    margin-left: 20px;
    border:1px solid orange;
}
.container-fluid .spcl .row .col a{
    font-size: 20px;
    font-weight: 700;
    color:white;
}
.container-fluid .spcl{
    text-align:center;
    margin-top: 100px;
    height: 80px;
    line-height:80px;
    background-color:#FFB359;
}
.container-fluid .spcl2{
    margin-top: 110px;
    margin-bottom:110px;
   
}
.container-fluid .spcl2 ul li{
    list-style:none;
    
}
.container-fluid .spcl2 ul {
    display: flex;
text-align: center;
}
.container-fluid .spcl2  .name{
    font-weight:500;
    color:black;
    font-size: 15px;
}
.container-fluid .spcl2 .sv1{
    text-align:center;
    width:280px;
    margin-left: 50px;
    height:350px;
    border:1px solid rgb(204, 204, 204);
    box-shadow: 10px 10px 10px #CCC;
}
.container-fluid .spcl2 .sv1 button{
    width:180px;
    height:40px;
    background-color: orange;
    border:1px solid rgb(204, 204, 204);
    color:white;
    font-weight:500;
}
.container-fluid .spcl2 .sv1 .hinhsv{
    padding-top:5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
}
.container-fluid .spcl2 .sv1 img{
    width:250px;
    height:200px;
    border:1px solid #CCC;
    padding:5px 5px 5px 5px;
}
.container-fluid .spcl2 .sv2{
    text-align:center;
    width:280px;
    margin-left: 90px;
    height:350px;
    border:1px solid #CCC;
    box-shadow: 10px 10px 10px #CCC;
}
.container-fluid .spcl2 .sv2 .hinhsv{
    padding-top:5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
}
.container-fluid .spcl2 .sv2 button{
    width:180px;
    height:40px;
    background-color: orange;
    border:1px solid rgb(204, 204, 204);
    color:white;
    font-weight:500;
}
.container-fluid .spcl2 .sv2 img{
    width:250px;
    height:200px;
    border:1px solid #CCC;
    padding:5px 5px 5px 5px;
}
.container-fluid .spcl2 .sv3{
    text-align:center;
    width:280px;
    margin-left: 90px;
    height:350px;
    border:1px solid #CCC;
    box-shadow: 10px 10px 10px #CCC;
}
.container-fluid .spcl2 .sv3 .hinhsv{
    padding-top:5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
}
.container-fluid .spcl2 .sv3 button{
    width:180px;
    height:40px;
    background-color: orange;
    border:1px solid rgb(204, 204, 204);
    color:white;
    font-weight:500;
}
.container-fluid .spcl2 .sv3 img{
    width:250px;
    height:200px;
    border:1px solid #CCC;
    padding:5px 5px 5px 5px;
}
.container-fluid .spcl2 .sv4{
    text-align:center;
    margin-left: 90px;
    width:280px;
    height:350px;
    border:1px solid #CCC;
    box-shadow: 10px 10px 10px #CCC;
}
.container-fluid .spcl2 .sv4 .hinhsv{
    padding-top:5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 10px;
}
.container-fluid .spcl2 .sv4 button{
    width:180px;
    height:40px;
    background-color: orange;
    border:1px solid rgb(204, 204, 204);
    color:white;
    font-weight:500;
}
.container-fluid .spcl2 .sv4 img{
    width:250px;
    height:200px;
    border:1px solid #CCC;
    padding:5px 5px 5px 5px;
}
.container-fluid .row .col .sroll ul{
    display: flex;
    list-style: none;
}
@media only screen and (max-width:285px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll{
        width: 900px;
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:260px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:300px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:210px;
        margin-left:-45px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{

    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:625px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-60px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:250px;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 23px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay a {
        margin-left: -140px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d{
        margin-top: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:40px;
    }

    .container-fluid .row .col .detail-sp .ttct .name{
       width:270px;
    }   
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:280px;
    }
    .container-fluid .page{
        width:250px;
        margin-bottom: 10px;
    }
    .container-fluid .timsp{
        margin-left: -1000px;
    }
    .container-fluid .timsp #search input{
     width:200px;
    }
    .container-fluid .timsp button{
        width:50px;
    }
    .container-fluid .tong{
        width:200px;
        margin-left:-30px;
    }
    .container-fluid .product{
        margin-left:-80px;
    }
    .container-fluid .product .pt{
        margin-left:190px;
    }
    .banner-laptop .row .col img{
        width:280px;
        margin-left:-268px;
    }
    .container-fluid .product .row ul{
        flex-direction: column;
    }
    .container-fluid .banner-tren img{
        width:300px;
    }
    .container-fluid .row .nb .type-laptop-nb .row .col a{
        font-size:20px;
    }
    .container-fluid .row .nb .type-laptop-nb{
        width:260px;
        margin-left:-50px;
        padding:10px;
    }
    .container-fluid .row .nb .type-laptop-nb {
        height:340px;
        margin-bottom: 50px;
    }
    .container-fluid .row .nb .type-laptop-nb .thnb ul{
        flex-direction: column;
        margin-left: -90px;
        border:0px;
        width:250px;
    }
    .container-fluid .row .nb .type-laptop-nb .thnb ul a {
        border:1px solid black;
        font-size: 20px;
    }
    .container-fluid .nd-spbc .spbc .row .tittle{
        height:auto;
    }
    .container-fluid .nd-spbc .spbc .row .tittle .col{
        /* margin-left:-150px;
        padding-right:-1200px; */
    }
    .container-fluid .nd-spbc .spbc .row .tittle .col a{
        font-size:20px;
        line-height:10px;
        /* flex-wrap: wrap; */
    }
    .container-fluid .nd-spbc .spbc .sp{
        width:280px;
        margin-left:-50px;
    }
    .container-fluid .nd-spbc .spbc .sp .row ul{
        flex-direction:column;
    }
    .container-fluid .nd-spbc .spbc .sp .row  .sp1{
        margin-bottom: 20px;
    }
    .container-fluid .nd-spbc .spbc .sp .row  .sp2{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-spbc .spbc .sp .row  .sp3{
        margin-bottom: 20px;
    }
    .container-fluid .nd-spbc .spbc .sp .row  .sp4{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-spbc .spbc .row .tittle{
        width:100%;
    }
    .container-fluid .nd-spbc .spbc .row .tittle a{
        font-size:11px;
    }
   

    .container-fluid .nd-bes .spbc .row .tittle .col{
        margin-left:-10px;
    }
    .container-fluid .nd-bes .spbc .row .tittle .col a{
        font-size:29px;
    }
    .container-fluid .nd-bes .spbc .sp{
        width:280px;
        height:auto;
        margin-left:-50px;
    }
    .container-fluid .nd-bes .spbc .sp .row ul{
        flex-direction:column;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp1{
        margin-bottom: 20px;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp2{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp3{
        margin-bottom: 20px;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp4{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp5{
        margin-bottom: 20px;
    }
    .container-fluid .nd-bes .spbc .sp .row  .sp6{
        margin-bottom: -90px;
        margin-left:0px;
    }
    .container-fluid .nd-bes .spbc .row .tittle{
        width:100%;
    }
    .container-fluid .nd-bes .spbc .row .tittle a{
        font-size:11px;
    }
    .container-fluid .nd-bes{
        margin-bottom:80px;
    }

    .container-fluid .nd-tamtrung .spbc .row .tittle{
        margin-left: -100px;
        height:auto;
    }
    .container-fluid .nd-tamtrung .spbc .row .tittle .col{
        /* margin-left:-150px;
        padding-right:-1200px; */
    }
    .container-fluid .nd-tamtrung .spbc .row .tittle .col a{
        font-size:20px;
        line-height:10px;
        /* flex-wrap: wrap; */
    }
    .container-fluid .nd-tamtrung .spbc .sp{
        width:280px;
        height:auto;
        margin-left:-50px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row ul{
        flex-direction:column;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp1{
        margin-bottom: 20px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp2{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp3{
        margin-bottom: 20px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp4{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp5{
        margin-bottom: 20px;
    }
    .container-fluid .nd-tamtrung .spbc .sp .row  .sp6{
        margin-bottom: -90px;
        margin-left:0px;
    }
    .container-fluid .nd-tamtrung .spbc .row .tittle{
        width:100%;
    }
    .container-fluid .nd-tamtrung .spbc .row .tittle a{
        font-size:11px;
    }
    .container-fluid .nd-tamtrung{
        margin-bottom:80px;
    }

    
    .container-fluid .nd-caocap .spbc .row .tittle{
        margin-left: -100px;
        height:auto;
    }
    .container-fluid .nd-caocap .spbc .row .tittle .col{
        /* margin-left:-150px;
        padding-right:-1200px; */
    }
    .container-fluid .nd-caocap .spbc .row .tittle .col a{
        font-size:20px;
        line-height:10px;
        /* flex-wrap: wrap; */
    }
    .container-fluid .nd-caocap .spbc .sp{
        width:280px;
        height:auto;
        margin-left:-50px;
    }
    .container-fluid .nd-caocap .spbc .sp .row ul{
        flex-direction:column;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp1{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp2{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp3{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp4{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp5{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocap .spbc .sp .row  .sp6{
        margin-bottom: -90px;
        margin-left:0px;
    }
    .container-fluid .nd-caocap .spbc .row .tittle{
        width:100%;
    }
    .container-fluid .nd-caocap .spbc .row .tittle a{
        font-size:11px;
    }
    .container-fluid .nd-caocap{
        margin-bottom:80px;
    }



    .container-fluid .nd-caocaptr .spbc .row .tittle{
        margin-left: -100px;
        height:auto;
    }
    .container-fluid .nd-caocaptr .spbc .row .tittle .col{
        /* margin-left:-150px;
        padding-right:-1200px; */
    }
    .container-fluid .nd-caocaptr .spbc .row .tittle .col a{
        font-size:20px;
        line-height:10px;
        /* flex-wrap: wrap; */
    }
    .container-fluid .nd-caocaptr .spbc .sp{
        width:280px;
        height:auto;
        margin-left:-50px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row ul{
        flex-direction:column;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp1{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp2{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp3{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp4{
        margin-bottom: 20px;
        margin-left:0px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp5{
        margin-bottom: 20px;
    }
    .container-fluid .nd-caocaptr .spbc .sp .row  .sp6{
        margin-bottom: -90px;
        margin-left:0px;
    }
    .container-fluid .nd-caocaptr .spbc .row .tittle{
        width:100%;
    }
    .container-fluid .nd-caocaptr .spbc .row .tittle a{
        font-size:11px;
    }
    .container-fluid .nd-caocaptr{
        margin-bottom:10px;
    }

    .container-fluid .banner-giua .row .col .banner-giua-a img{
        width: 270px;
        height:auto;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 20px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 20px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -135px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
    .cheap ul{
        flex-direction:column;
    }
.cheap .row .col a{
        font-size: 20px;
    }
    .container-fluid .cheap{
    margin-bottom: -50px;
    margin-top: -10px;
    height:800px;
    }
    .container-fluid .cheap ul li{
        margin-left: -40px;
    }
    .xemthem{
        padding-top:600px;
        margin-bottom: -40px;
        margin-left: -1000px;
    }
}
@media only screen and (max-width:360px)and (min-width:285px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll{
        width: 900px;
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:260px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:300px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:200px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{

    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:625px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-60px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:250px;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 25px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay a {
        margin-left: -140px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
        margin-top:15px;
      }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:40px;
    }
    .banner-laptop img{
        width:280px;
        margin-left:-265px;
    }

    .container-fluid .row .col .detail-sp .ttct .name{
       width:270px;
    }   
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:280px;
    }
    .container-fluid .page{
        width:250px;
        margin-bottom: 10px;
    }
    .container-fluid .timsp{
        margin-left: -1000px;
    }
    .container-fluid .timsp #search input{
     width:200px;
    }
    .container-fluid .timsp button{
        width:50px;
    }

    .container-fluid .banner-giua .row .col .banner-giua-a img{
        width: 270px;
        height:auto;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 20px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 20px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -135px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
  
}
/* responsive mobile */
@media only screen and (max-width:376px)and (min-width:360px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll{
        width: 900px;
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:320px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:400px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{

    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:540px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:300px;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 28px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:360px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  a{
        margin-left: -40px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:360px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: -40px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:40px;
    }

    .container-fluid .row .col .detail-sp .ttct .name{
       width:270px;
    }   
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:350px;
    }
    .banner-laptop img{
        width:300px;
        margin-left:-220px;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 20px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 60px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -95px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
    .cheap ul{
        flex-direction:column;
    }
.cheap .row .col a{
        font-size: 20px;
    }
    .container-fluid .cheap{
    margin-bottom: -50px;
    margin-top: -10px;
    height:800px;
    }
    .container-fluid .cheap ul li{
        margin-left: -40px;
    }
    .xemthem{
        padding-top:600px;
        margin-bottom: -40px;
        margin-left: -1000px;
    }
}
@media only screen and (max-width:414px) and (min-width:376px) {
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll{
        width: 900px;
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:320px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:400px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{

    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:540px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:370px;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 28px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:310px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:310px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:40px;
    }

    .container-fluid .row .col .detail-sp .ttct .name{
       width:270px;
    }   
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:350px;
    }
    .container-fluid .row .col .detail-sp .hinhsp .hinhnho img{
        width:12%;
    }
    .banner-laptop img{
        width:360px;
        margin-left:-260px;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 60px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 60px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -85px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
}
      /* 600px < 414px */
@media only screen and (max-width:600px)and (min-width:414px) {
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll .whereyou{
        width: 100%;
    }
    .container-fluid .row .col .sroll{
    
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:380px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:480px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{

    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:490px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:350px;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 31px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:340px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:340px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:50px;
    }

    .container-fluid .row .col .detail-sp .ttct .name{
       width:270px;
    }   
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:390px;
    }
    .banner-laptop img{
        width:360px;
        margin-left:-240px;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 50px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 70px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -85px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
}
        /* 767px < 600px */
@media only screen and (min-width:600px) and (max-width:767px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll .whereyou{
        width: 100%;
    }
    .container-fluid .row .col .sroll .whereyou a{
    }
    .container-fluid .row .col .sroll{
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:380px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:480px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{
        
    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:490px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:100%;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 41px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .name{
        width: 90%;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:340px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:340px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:50px;
    } 
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:80%;
    }
    .container-fluid .row .col .detail-sp .hinhsp .hinhnho img{
        width:10%;
    }
    .banner-laptop img{
        width:100%;
        margin-left:-160px;
    }
    footer{
        margin-bottom: -900px;
        height:1360px;
    }
    footer .container .left .logo{
       width:500px;
       margin-top: 50px;
       margin-left: 120px;
    }
    footer .container .left .logo img{
    }
    footer .container .left .fpoly1{
        margin-top: 310px;
    }
    footer .container .left .fpoly1 a{
        font-size:40px;
        margin-left:40px;
    }
    footer .container .right ul{
        flex-direction: column;
    }
    footer .container .right{
        margin-top: 10px;
        margin-right: 120px;
    }
    footer .container .khung{
        display:none;
    }
    footer .fg2{
        margin-top:1150px;
    }
    footer .container .right .pages{
        width:220px;
        margin-bottom: -80px;
    }
    footer .container .right .contact{
        width:220px;
        margin-top: 300px;
        margin-bottom: -80px;
    }
    footer .container .left .by{
        margin-top:880px;
        margin-left: 120px;
    }
    footer .container .right .guimail{
        margin-bottom:100px;
    }    
    footer .container .left .by a {
        font-weight: 500;
        margin-left: -10px;
        font-size: 13px;
    }
    footer .container .left .tt{
        margin-bottom:-840px;
        margin-top: 970px;
        z-index: 1;
        margin-left: -35px;
    }
     footer .container .right .guimail button {
       width:50px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
}
@media only screen and (min-width:767px) and (max-width:991px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction: column-reverse;
    }
    .container-fluid .row .col .sroll .whereyou{
        width: 100%;
    }
    .container-fluid .row .col .sroll .whereyou a{
    }
    .container-fluid .row .col .sroll{
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:380px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-40px;
        width:480px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{
        
    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:490px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: column;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:100%;
       
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 41px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .name{
        width: 90%;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:340px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:340px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:50px;
    } 
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:80%;
    }
    .container-fluid .row .col .detail-sp .hinhsp .hinhnho img{
        width:10%;
    }
    .banner-laptop img{
        width:100%;
        margin-left:-160px;
    }
    footer{
        margin-bottom: -900px;
        height:800px;
    }
    footer .container .left .logo{
       width:550px;
       margin-top: 50px;
       margin-left: 130px;
    }
    footer .container .left .fpoly1{
        margin-left:-525px;
        margin-top:289px;
    }
    footer .container .left .fpoly1 a{
        font-size:30px;
    }
    footer .container .right ul{
        flex-direction: row;
    }
    footer .container .right{
        margin-right:250px;
        margin-top:20px;
    }
    footer .container .khung{
        display:none;
        margin-left:-60px;
        margin-bottom:-900px;
    }
    footer .fg2{
        margin-top:600px;
    }
    footer .container .right .pages{
        width:170px;
        margin-top: 250px;
        margin-right: 50px;
    }
    footer .container .right .contact{
        width:170px;
        margin-top: 250px;
        margin-bottom: -80px;
        font-size:15px;
        margin-right: 50px;
        margin-left: -15px;
    }
    footer .container .left .by{
        margin-top:50px;
        font-size: 15px;
        margin-left:151px;
    }
    footer .container .left .by a {
        font-weight: 500;
        font-size: 14px;
    }
    footer .container .right .guimail{
        margin-top:250px;
        width:170px;
    }   
    footer .container .right .guimail .abcd{
        flex-direction: column-reverse;
    }
    footer .container .right .guimail input {
        width:105px;
  
    }
    footer .container .right .guimail button {
       width:40px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
    footer .container .right .guimail input {
        font-size:12px;
        height:30px;
        border-radius: 7px;
    }
    footer .container .left .tt{
        margin-left:35px;
        margin-top:380px;
    } 
}
@media only screen and (min-width:991px) and (max-width:1300px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction:row;
    }
    .container-fluid .row .col .sroll .whereyou{
        width: 100%;
    }
    .container-fluid .row .col .sroll .whereyou a{
    }
    .container-fluid .row .col .sroll{
    }
    .container-fluid .sroll .whereyou {
        margin-left:-45px;
        width:380px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;
      
    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:-80px;
        padding-left:200px;
        width:480px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{
        
    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: row;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:490px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: row;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:90%;
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 41px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .name{
        width: 90%;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:340px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:340px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:50px;
    } 
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:80%;
    }
    .container-fluid .row .col .detail-sp .hinhsp .hinhnho img{
        width:11%;
        margin-left: 10px;
    }
    .banner-laptop img{
        width:100%;
        margin-left:-100px;
    }
    footer{
        margin-bottom: -900px;
        height:800px;
    }
    footer .container .left .logo{
       width:550px;
       margin-top: 50px;
       margin-left: 230px;
    }
    footer .container .left .fpoly1{
        margin-left:-525px;
        margin-top:289px;
    }
    footer .container .left .fpoly1 a{
        font-size:30px;
    }
    footer .container .right ul{
        flex-direction: row;
    }
    footer .container .right{
        margin-right:250px;
        margin-top:20px;
    }
    footer .container .khung{
        display:none;
        margin-left:-60px;
        margin-bottom:-900px;
    }
    footer .fg2{
        margin-top:600px;
    }
    footer .container .right .pages{
        width:170px;
        margin-top: 250px;
        margin-right: 50px;
    }
    footer .container .right .contact{
        width:170px;
        margin-top: 250px;
        margin-bottom: -80px;
        font-size:15px;
        margin-right: 50px;
        margin-left: -15px;
    }
    footer .container .left .by{
        margin-top:50px;
        font-size: 15px;
        margin-left:251px;
    }
    footer .container .left .by a {
        font-weight: 500;
        font-size: 14px;
    }
    footer .container .right .guimail{
        margin-top:250px;
        width:170px;
    }   
    footer .container .right .guimail .abcd{
        flex-direction: column-reverse;
    }
    footer .container .right .guimail input {
        width:105px;
  
    }
    footer .container .right .guimail button {
       width:40px;
       border-radius: 9px;
       font-size: 11px;
       font-weight: 400;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       background-color: orange;
    }
    footer .container .right .guimail input {
        font-size:12px;
        height:30px;
        border-radius: 7px;
    }
    footer .container .left .tt{
        margin-left:125px;
        margin-top:380px;
    } 
}
@media only screen and (min-width:1300px){
    html{
        overflow-x:hidden;
    }
    .container-fluid .sroll ul{
        flex-direction:row;
    }
    .container-fluid .row .col .sroll .whereyou{
        width: 100%;
    }
    .container-fluid .row .col .sroll .whereyou a{
    }
    .container-fluid .row .col .sroll{
        margin-bottom: -50px;
    }
    .container-fluid .sroll .whereyou {
        margin-left:15px;
        width:480px;
    }
    .container-fluid .sroll .whereyou .where a{
        word-wrap: break-all;

    }
    .container-fluid .sroll .whereyou .where {
        font-weight: 700;
    }
    .container-fluid .sroll .timsp{
        margin-left:280px;
        width:480px;
        margin-bottom: 50px;
    }
    .container-fluid .sroll .timsp #search input{
        width:270px;
        margin-left:-55px;
    } 
    .container-fluid .sroll .timsp #search button{
        width:40px;
    }
    .container-fluid .row .col .thong-tin-sp{
        
    }
    .container-fluid .row .col .thong-tin-sp ul{
        flex-direction: row;
    }
    .container-fluid .row .col .thong-tin-sp a{
        margin-right:490px;
        font-size: 20px;
    }
    .container-fluid .row .col .detail-sp{
        margin-left:-50px;
    }
    .container-fluid .row .col .detail-sp ul{
        flex-direction: row;
    }
    .container-fluid .row .col .detail-sp .ttct{
        margin-top: 20px;
        width:90%;
    }
    .container-fluid .row .col .detail-sp .ttct .name a{
        font-size: 41px;
        text-align: left;
        word-wrap:break-all;
    }
    .container-fluid .row .col .detail-sp .ttct .name{
        width: 90%;
    }
    .container-fluid .row .col .detail-sp .ttct .gia-sl{
        font-size:20px;
        margin-top: 10px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .pay  {
        width:340px;
    }
    .container-fluid .row .col .detail-sp .ttct .button .card-d  {
      width:340px;
      margin-top:20px;
    }
    .container-fluid .row .col .detail-sp .ttct .button a{
        margin-left: 20px;
    }
    .container-fluid .row .col .detail-sp .ttct .gia{
        font-size:50px;
    } 
    .container-fluid .row .col .detail-sp .hinhsp .hinhlon img{
        width:80%;
    }
    .container-fluid .row .col .detail-sp .hinhsp .hinhnho img{
        width:11%;
        margin-left: 10px;
    }
    .banner-laptop img{
        width:100%;
        margin-left:-100px;
    }
}



            /* 1022px < 992px   601< 767 */
/* @media only screen and (min-width:991px) and (max-width:1023px){
    .dichvu .container-fluid  {
        display: none;
    }
} */
.container-fluid .row .col-sm-5{
    font-weight:600;
    color:white;
    line-height:80px;
    font-size: 20px;
    height:80px;
    width:700px;
    text-align: center;
    border-bottom-right-radius:100px ;
    background-color:#FF8A00;
}
.container-fluid .row .col .hinh  img{
    border:15px solid rgba(211, 209, 209, 0.611);
    width: 600px;
    height:400px;
}
.container-fluid .row .col .thongtinsp{
    width:796px;
    height:550px;
}
